:root {
    --color-moderate-violet: hsl(263, 55%, 52%);
    --color-very-dark-grayish-blue: hsl(217, 19%, 35%);
    --color-very-dark-blackish-blue: hsl(219, 29%, 14%);
    --color-white: hsl(0, 0%, 100%);
    --color-light-gray: hsl(0, 0%, 81%);
    --color-light-grayish-blue: hsl(210, 46%, 95%);
    --font-family-base: "Barlow Semi Condensed", sans-serif;
    --font-weight-regular: 500;
    --font-weight-bold: 600;

    --font-size-small: 0.688rem;
    --font-size-base: 0.813rem;
    --font-size-h1: 1.25rem;

    --spacing-200: 2rem;
    --spacing-185: 1.885rem;
    --spacing-160: 1.625rem;
    --spacing-150: 1.5rem;
    --spacing-110: 1.125rem;
    --spacing-100: 1rem;
    --spacing-25: 0.25rem;

    --container-padding-top-mobile: 4.438rem;
    --container-padding-top-desktop: 5.438rem;

    --border-radius-normal: 0.5rem;

    --quote-author-size: 1.75rem;
    --quote-line-height: 1.125rem;

    --testimonials-box-shadow: 2.5rem 3.75rem 3.125rem 2.938rem rgba(72, 85, 106, 0.25);
    --testimonials-mobile-max-width: 20.438rem;
}